<button [routerLink]="['/']">home</button>
<button [routerLink]="['/pippo']">pippo</button>
<button [routerLink]="['/pluto']">pluto</button>
<button [routerLink]="['/prodotti']">prodotti</button>
<button [routerLink]="['/servizi']">servizi</button>
<button [routerLink]="['/contatti']">contatti</button>
<button [routerLink]="['/404']">404</button>
<button [routerLink]="['/user']">user</button>
<router-outlet></router-outlet>
