<p>user works!</p>
<div class="pippo" *ngFor="let user of users?.data">
  <p>ID: {{user?.id}}</p>
  <p>Email: {{user?.email}}</p>
  <p>Gender: {{user?.gender}}</p>
  <p>Name: {{user?.name}}</p>
  <p>Status: {{user?.status}}</p>
  <hr>
</div>
